# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Game.iml
# Datasource local storage ignored files
/../../../../../../../../:\Epam\OOP\Game\Game\.idea\.idea.Game.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
