<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aurigma.GraphicsMill.Core.x86" version="10.5.128" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="PearXLib" version="1.4.5" targetFramework="net472" />
  <package id="System.Design" version="4.0.0.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="TomsToolbox.Desktop" version="2.3.2" targetFramework="net472" />
  <package id="TomsToolbox.Essentials" version="2.3.2" targetFramework="net472" />
</packages>